/* Other rules */

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
}
.counterMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterLess {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterReset {
  display: flex;
  justify-content: center;
  align-items: center;
}
